# Entorno y secretos
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Entorno virtual
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
mnt/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
